{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/pageturn.css' %}">
{% endblock %}

{% block content %}
    <div class="bg">
        <img src="{% static 'image/top-mask.png' %}" alt="天空" class="mask">
    </div>
    <div class="home-app">

    </div>

{% endblock %}

{% block custom_js %}
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript">
    function recommendation(){
    $.ajax({
        cache: false,
        type: "POST",
        url:"/re/",
        data:{},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="/login/";
                    alert("1");
                }
            }else if(data.status == 'success'){
                window.location.href="/?type=re";
                alert("推荐成功！")
            }
        }
    });
}

$('.re_button').on('click', function(){

    recommendation();
});

    </script>

{% endblock %}